<a href="https://colab.research.google.com/github/habibamedhat811/Diploma-in-Artificial-Intelligence/blob/main/Copy_of_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
text = input("Enter a string: ")
length1 = len(text)
print("Length using len():", length1)

Enter a string: habiba
Length using len(): 6

In [ ]:
def get_length(s):
    text = input("Enter a string: ")
    count = 0
    for char in s:
        count += 1
    return count
length2 = get_length(text)
print("Length using loop:", length2)

Enter a string: habiba
Length using loop: 6

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
empty_String = input("Enter a string: ")

if len(empty_String) < 2:
    empty_String = ""
else:
    empty_String = empty_String[:2] + empty_String[-2:]
print(" empty_String")

Enter a string: h
 empty_String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
text = input("Enter a string: ")

if len(text) < 3:
    result = text
elif text[-3:] == "ing":
    result = text[:-3] + "ly"
else:
    result = text + "ing"
print("Result:", result)

Enter a string: running
Result: runnly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def longest_word(words):
    longest = max(words, key=len)
    return longest, len(longest)
words_list = input("Enter a list of words separated by spaces: ").split()
longest, length = longest_word(words_list)
print(f"Longest word: {longest} Length of the longest word: {length}")

Enter a list of words separated by spaces: habiba , medhat , mohamed , ali
Longest word: mohamed Length of the longest word: 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abce  Expected Result:ebca)

In [ ]:
text = input("Enter a string: ")
if len(text) < 2:
    result = text
else:
    result = text[-1] + text[1:-1] + text[0]
print("Result:", result)

Enter a string: habiba
Result: aabibh

In [ ]:
text = input("Enter a string: ")
if len(text) < 2:
    result = text
else:
    text_list = list(text)
    text_list[0], text_list[-1] = text_list[-1], text_list[0]
    result = ''.join(text_list)
print("Result:",text_list )
print("Result:", result)

Enter a string: habiba
Result: ['a', 'a', 'b', 'i', 'b', 'h']
Result: aabibh

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
text = input("Enter a string: ")
result = text[::2]
print("Result:", result)

Enter a string: habiba
Result: hbb

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
for word, count in word_count.items():
    print(f"'{word}': {count}")

Enter a sentence: python is great and python is fun
'python': 2
'is': 2
'great': 1
'and': 1
'fun': 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
text = input("Enter a string: ")
print("Upper case:", text.upper())
print("Lower case:", text.lower())

Enter a string: HabibA
Upper case: HABIBA
Lower case: habiba

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_if_multiple_of_4(text):
    if len(text) % 4 == 0:
        return text[::-1]
    return text
text = input("Enter a string: ")
result = reverse_if_multiple_of_4(text)
print("Result:", result)

Enter a string: roma
Result: amor

**10- Write a Python program to remove a newline in Python

In [ ]:
text =("habiba\nmedhat ")
print(text)
text = text.replace("\n", " ")
print( text)

habiba
medhat
habiba medhat

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
text = input("Enter a string: ")
strat = input("Enter the strat to check: ")
if text.startswith(strat):
    print(f"The string starts with '{strat}'.")
else:
    print(f"The string does not start with '{strat}'.")

Enter a string: habiba medhat
Enter the strat to check: biba
The string does not start with 'biba'.

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
text = input("Enter a string with multiple lines: ")
prefix = input("Enter the prefix to add: ")
lines = text.split('\n')
modified_lines = [prefix + line for line in lines]
result = '\n'.join(modified_lines)
print("Modified Text:\n", result)

Enter a string with multiple lines: medhat mohamed
Enter the prefix to add: biba
Modified Text:
 bibamedhat mohamed

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
numbers = input("Enter numbers separated by spaces: ").split()
for num in numbers:
    num = float(num)
    num = round(num, 2)
print(num)

Enter numbers separated by spaces: 3.15982
3.16

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
number = float(input("Enter a number: "))
number = round(number, 2)
if number >= 0:
    print("+" + str(number))
else:
    print(str(number))

Enter a number: 3.1658
+3.17

**15-Write a Python program to display a number with a comma separator

In [1]:
number = int(input("Enter a number: "))
number_with_commas = "{:,}".format(number)
print("Formatted Number:", number_with_commas)

Enter a number: 123456789
Formatted Number: 123,456,789

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
text = input("Enter a string: ")
reversed_text = text[::-1]
print("Reversed string:", reversed_text)

Enter a string: habiba medhat
Reversed string: tahdem abibah

In [ ]:
text = input("Enter a string: ")
text_list = list(text)
text_list.reverse()
reversed_text = ''.join(text_list)
print("Reversed string:", reversed_text)

Enter a string: habiba medhat
Reversed string: tahdem abibah

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
text = input("Enter a string: ")
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
for char, count in char_count.items():
    if count > 1:
        print("Character '" + char + "' is repeated " + str(count) + " times.")

Enter a string: hhabiiba
Character 'h' is repeated 2 times.
Character 'a' is repeated 2 times.
Character 'b' is repeated 2 times.
Character 'i' is repeated 2 times.

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
text = "habibamedhat"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char in text:
    if char_count[char] == 1:
        print("First non-repeating character:", char)
        break

First non-repeating character: i

In [ ]:
text = "habibamedhat"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char in text:
    if char_count[char] == 1:
        print("Non-repeating character:", char)

Non-repeating character: i
Non-repeating character: m
Non-repeating character: e
Non-repeating character: d
Non-repeating character: t

**19-Write a Python program to remove spaces from a given string

In [ ]:
text = input("Enter a string: ")
text_without_spaces = text.replace(" ", "")
print("String without spaces:", text_without_spaces)

Enter a string: habiba medhat mohamed
String without spaces: habibamedhatmohamed

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
text = input("Enter a string: ")
count_substrings = 0
for i in range(len(text)):
    for j in range(i + 1, len(text) + 1):
        count_substrings += 1
print("Number of non-empty substrings:", count_substrings)

Enter a string: habiba
Number of non-empty substrings: 21

21-write a Python program to swap first and last element of any list.

In [ ]:
my_list = input("Enter a list of elements (separated by space): ").split()
if len(my_list) > 1:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]
print("List after swapping first and last elements:", my_list)

Enter a list of elements (separated by space): 1 5 8 7 6
List after swapping first and last elements: ['6', '5', '8', '7', '1']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
my_list = [23, 65, 19, 90]
pos1 = int(input("Enter the position of the first element (pos1): "))
pos2 = int(input("Enter the position of the second element (pos2): "))
my_list[pos1], my_list[pos2] = my_list[pos2], my_list[pos1]
print("List after swapping:", my_list)

Enter the position of the first element (pos1): 1
Enter the position of the second element (pos2): 3
List after swapping: [23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [3]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)

5

In [4]:
my_list = [1, 2, 3, 4, 5]
count = 0
for _ in my_list:
    count += 1
print(count)

5

In [5]:
my_list = [1, 2, 3, 4, 5]
length = sum(1 for _ in my_list)
print(length)

5

In [6]:
my_list = [1, 2, 3, 4, 5]
count = 0
while my_list:
    my_list.pop()
    count += 1
print(count)

5

24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
my_list = [23, 45, 12, 78, 56, 89, 34]
max_num = max(my_list)
print("The maximum number is:", max_num)

The maximum number is: 89

25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
my_list = [23, 45, 12, 78, 56, 89, 34]
min_num = min(my_list)
print("The minimum number is:", min_num)

The minimum number is: 12

**26-search for if an elem is existing in list

In [ ]:
my_list = [23, 45, 12, 78, 56, 89, 34]
element = int(input("Enter the element to search for: "))
if element in my_list:
    print("The element", element, "is found in the list.")
else:
    print("The element", element, "is not found in the list.")

Enter the element to search for: 78
The element 78 is found in the list.

**27- clear python list using different ways

In [ ]:
my_list = [23, 45, 12, 78, 56]
while my_list:
    my_list.pop()
print(my_list)

[]

**28-remove duplicated elements from a list

In [ ]:
my_list = [23, 45, 12, 78, 56, 45, 23]
new_list = []
for item in my_list:
    if item not in new_list:
        new_list.append(item)
print(new_list)

[23, 45, 12, 78, 56]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
res = [dict(zip(key_list, test_list[i:i+2]))
for i in range(0, len(test_list), 2)]
print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
test_list = [1, 2, 3, 3, 4, 5, 5, 8]
unique_values = [x for x in test_list if test_list.count(x) == 1]
print(unique_values)
print(len(unique_values))
# هنا بيعد كام عنصر من غير تكرار

[1, 2, 4, 8]
4

In [ ]:
test_list = [1, 2, 2, 3, 4, 4, 5, 8]
unique_values = [x for x in test_list if test_list.count(x) == 1]
print(unique_values)
print(len(unique_values))
 # هنا بيشوف عدد العناصر اللي مش متكرره

[1, 3, 5, 8]
4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
test_list.sort()
result = []
count = 1
for i in range(1, len(test_list)):
    if test_list[i] == test_list[i-1]:
        count += 1
    else:
        if count > K:
            result.append(test_list[i-1])
        count = 1
if count > K:
    result.append(test_list[-1])
print(result)

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
test_list = [1, 2, 2, 3, 4, 5]
result = []
for i in range(len(test_list) - 1):
    result.append(max(test_list[i], test_list[i+1]))
print(result)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
test_list = [1, 2, 3]
for i in test_list:
    for j in test_list:
        if j != i:
            for k in test_list:
                if k != i and k != j:
                    print(i, j, k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
test_list = [1, 2, 3]
result = []
for i in range(len(test_list)):
    for j in range(i+1, len(test_list)+1):
        result.append(test_list[i:j])
print(result)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
List_1 = ["a", "b"]
List_2 = [1, 2]
Unique_combination = []
for i in List_1:
    for j in List_2:
        pair_1 = (i, j)
        pair_2 = (List_1[1 - List_1.index(i)], List_2[1 - List_2.index(j)])
        if [pair_1, pair_2] not in Unique_combination and [pair_2, pair_1] not in Unique_combination:
            Unique_combination.append([pair_1, pair_2])
print(Unique_combination)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
test_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element_to_remove = 1
result = []
for item in test_list:
    if item != element_to_remove:
        result.append(item)
print(result)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
List_1 = ['Gfg', 'is', 'best']
List_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = [List_1[i] for i in List_2]
print("The lists after index elements replacements is:", result)

The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [7]:
test_list = []
n = int(input("Enter the number of tuples: "))

for i in range(n):
    user_input = input(f"Enter tuple {i+1} (comma-separated): ")
    user_tuple = tuple(int(x) for x in user_input.split(','))
    test_list.append(user_tuple)

K = int(input("Enter the number to search for (K): "))
N = int(input("Enter the required occurrences (N): "))

filtered_list = []
for tup in test_list:
    if tup.count(K) == N:
        filtered_list.append(tup)

print("Filtered List:", filtered_list)

Enter the number of tuples: 2
Enter tuple 1 (comma-separated): 4,5,5,4
Enter tuple 2 (comma-separated): 5,4,3
Enter the number to search for (K): 5
Enter the required occurrences (N): 2
Filtered List: [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [8]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

sorted_by_column_0 = sorted(array, key=lambda x: x[0])
sorted_by_column_1 = sorted(array, key=lambda x: x[1])
sorted_by_column_2 = sorted(array, key=lambda x: x[2])

print("Sorted array specific to column 0:", sorted_by_column_0)
print("Sorted array specific to column 1:", sorted_by_column_1)
print("Sorted array specific to column 2:", sorted_by_column_2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [10]:
n = int(input("Enter the number of entries in the dictionary: "))
data = {}

for i in range(n):
    key = input(f"Enter key {i+1}: ")
    value = int(input(f"Enter value for {key}: "))
    data[key] = value

sorted_dict = dict(sorted(data.items()))

print("Sorted dictionary by key:", sorted_dict)

Enter the number of entries in the dictionary: 5
Enter key 1: ravi
Enter value for ravi: 10
Enter key 2: rajnish
Enter value for rajnish: 9
Enter key 3: sanjeev
Enter value for sanjeev: 15
Enter key 4: yash
Enter value for yash: 2
Enter key 5: suraj
Enter value for suraj: 32
Sorted dictionary by key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [14]:
test_dict = {}
n = int(input("Enter the number of entries in the dictionary: "))

for _ in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    if value.isdigit():
        value = int(value)
    test_dict[key] = value

K = int(input("Enter the value of K: "))

keys_to_remove = []

for key in test_dict:
    if isinstance(test_dict[key], int) and test_dict[key] > K:
        keys_to_remove.append(key)

for key in keys_to_remove:
    test_dict.pop(key)

print(test_dict)

Enter the number of entries in the dictionary: 5
Enter key: Gfg
Enter value: 3
Enter key: is
Enter value: 7
Enter key: best
Enter value: 10
Enter key: for
Enter value: 6
Enter key: geeks
Enter value: CS
Enter the value of K: 7
{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

merged_dict = {}
for d in (dic1, dic2, dic3):
    merged_dict.update(d)

print(merged_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
for key in my_dict:
    print(key)
print("                       ")
for value in my_dict.values():
    print(value)
print("                       ")
for key, value in my_dict.items():
      print(key, value)

a
b
c
d

1
2
3
4

a 1
b 2
c 3
d 4

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = dict1.copy()
for key, value in dict2.items():
    merged_dict[key] = value
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 4, 'd': 30}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 30
Minimum value: 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {}
for key in original_dict:
    if original_dict[key] is not None:
        new_dict[key] = original_dict[key]
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
numbers = (10, 20, 30, 40, 50)
print(numbers[2])

30

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tuple = (10, 20, 30)
a, b, c = tuple
print(a)
print(b)
print(c)

10
20
30

**49-Write a Python program to add an item to a tuple

In [ ]:
my_tuple = (1, 2, 3)
new_item = 4
my_tuple = my_tuple + (new_item,)
print(my_tuple)

(1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
my_tuple = ('h', 'a', 'b', 'i', 'b', 'a')
result = ""
for char in my_tuple:
    result += char
print(result)

habiba

**51-Write a Python program to convert a list to a tuple

In [19]:
my_list = input("Enter list elements separated by spaces: ").split()
my_tuple = tuple(my_list)
print(my_tuple)

Enter list elements separated by spaces: 1 5 4 7 1
('1', '5', '4', '7', '1')

**52-Write a Python program to reverse a tuple

In [20]:
user_input = input("Enter tuple elements separated by spaces: ").split()
original_tuple = tuple(user_input)
reversed_tuple = original_tuple[::-1]
print(reversed_tuple)

Enter tuple elements separated by spaces: a b c d
('d', 'c', 'b', 'a')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [24]:
sample_list = []
n = int(input("Enter number of tuples: "))

for i in range(n):
    items = input(f"Enter elements of tuple {i+1} (space-separated): ").split()
    t = tuple(int(x) for x in items)
    sample_list.append(t)

new_value = int(input("Enter the new value to replace the last element in each tuple: "))

updated_list = []
for t in sample_list:
    updated_tuple = t[:-1] + (new_value,)
    updated_list.append(updated_tuple)

print(updated_list)

Enter number of tuples: 3
Enter elements of tuple 1 (space-separated): 10 20 30
Enter elements of tuple 2 (space-separated): 40 50 60
Enter elements of tuple 3 (space-separated): 70 80 90
Enter the new value to replace the last element in each tuple: 100
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [25]:
original_string = input("Enter a string: ")

string_tuple = tuple(original_string)

print("Original string:", original_string)
print("Converted to tuple:", string_tuple)

Enter a string: habiba
Original string: habiba
Converted to tuple: ('h', 'a', 'b', 'i', 'b', 'a')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [26]:
tuple_of_tuples = ((10, 20, 30), (40, 50, 60), (70, 80, 90))

all_numbers = []

for tup in tuple_of_tuples:
    for num in tup:
        all_numbers.append(num)

average = sum(all_numbers) / len(all_numbers)

print("Average value:", average)

Average value: 50.0

**56-Write a Python program to add member(s) to a set.

In [27]:
my_set = {1, 2, 3, 4}
my_set.add(5)
my_set.update([6, 7, 8])
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6, 7, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [28]:
my_set = {1, 2, 3, 4, 5}
item = 3

if item in my_set:
    my_set.remove(item)

print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1 & set2
union = set1 | set2
difference = set1 - set2
symmetric_difference = set1 ^ set2

print("Intersection:", intersection)
print("Union:", union)
print("Difference:", difference)
print("Symmetric Difference:", symmetric_difference)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [30]:
my_set = {10, 20, 30, 40, 50}

max_value = max(my_set)
min_value = min(my_set)

print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 50
Minimum Value: 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [31]:
my_list = [10, 20, 30, 40, 50]
target_sum = int(input("Enter the target sum: "))

pairs = []

for i in range(len(my_list)):
    for j in range(i+1, len(my_list)):
        if my_list[i] + my_list[j] == target_sum:
            pairs.append((my_list[i], my_list[j]))

print("Pairs with the given sum:", pairs)

Enter the target sum: 50
Pairs with the given sum: [(10, 40), (20, 30)]